html, body, #root {
  height: 100%;
}
body {
  background-image: url(./img/shopmustang.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #333;
  margin: 0;
  display: grid;
  padding: 3em;
  place-items: center;
}
.boxes {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(2, minmax(350px, 1fr));
  grid-template-rows: auto;
  opacity: 0.95;
}
.box {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 1.3rem;
  margin-top: 2%;
  border: 7px outset hotpink;
  width: 500px;
  h1 {
    font-size: 20px;
    margin: 0 0 1rem 0;
  }
  
  .content {
    padding-top: 1em;
  }
  ol {
    margin-left: 0;
    li {
      align-items: center;
      display: flex;
      justify-content: flex-start;
    }
  }
}
.button {
  background: hotpink;
  border: 1px solid transparent;
  color: white;
  margin-right: 1em;
  padding: .25em .75em;
  transition: all .25s ease-in;
  &:hover {
    background: white;
    border: 1px inset hotpink;
    color: #333;
  }
}

.app{
  h1{
    @import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
    color: hotpink;
    background: black;
    opacity: .80;
    text-align: center;
    font-size: 3.2rem;
    font-family: 'Monoton', cursive;
    font-style: oblique;
    margin-bottom: 2%;
  }
}